/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: fadeIn 0.1s linear;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.6;
}

.modal__body {
    position: relative;
    width: 542px;
    background-color: var(--white-color);
    margin: auto;
    border-radius: 1em;
}

/* Auth Form */

.auth-form {
    position: relative;
    padding: 36px;
    flex-direction: column;
    display: none;
}

.auth-form--active{
    display: flex;
}

.auth-form__close{
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5em;
}

.auth-form__header {
    display: flex;
    align-items: center;
    margin: 1em 0;
    justify-content: space-between;
}   

.auth-form__box {
    border: 1px solid var(--black-color);
    padding: 8px 1em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.auth-form__heading {
    font-size: 2em;
    color: var(--text-color-primary);
}

.auth-form__switch-btn {

}

.auth-form__form {

}

.auth-form__group {
    margin: 1em 0;

}

.auth-form__box:focus-within{
    border: 2px solid var(--text-color);
}

.auth-form__input {
    margin-top: 4px;
    border: none;
    outline: none;
    padding: 4px 0;
}
.auth-form__label {
    font-size: 0.8em;
}

.auth-form__message {
    font-size: 0.8em;
    margin: 4px;
}

.invalid {
    border-color: #e40404;
    color: #e40404;
}

.auth-form__box.invalid:focus-within {
    border: 1px solid #e40404;
}

.auth-form__btn {
    margin: 2em auto 0 auto;
    width: 172px;
    height: 44px;
}
